.recipe-name {
    font-size: 48px;
    font-family: Verdana, "Times New Roman", sans-serif;
    background-color: rgb(243, 232, 172);
    text-align: center;
}

.imgcenter {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;   
}

.imgsize {
    height: 500px;
    width: auto;
}