#title {
    text-align: center;
    font-size: 48px;
    background-color: rgb(243, 232, 172);
    color: rgb(255, 174, 0);
}

.container { 
    text-align: center; 
    background-color: bisque;
} 

.recipes { 
    font-size: 25px;
    font-family: Verdana, "Times New Roman", sans-serif;
    line-height: 3;
    display: inline-block; 
    text-align: left; 
}